section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .item {
    flex: 1;
    max-width: 75%;
    transition: transform 0.4s ease-in-out;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .item:hover {
    background-color: rgb(144, 210, 29);
    transform: scale(1.1);
    cursor: grabbing;
  
  }
  
  h2 {
    font-size: 25px;
    color: #0a487e;
    margin-bottom: 10px;
    text-align: center;
  }
  h1 {
    font-size: 35px;
    color: #17abcd;
    margin-bottom: 10px;
    text-align: center;
  }
  
  ul {
    list-style-type: georgian;
    padding: 0;
    color: rgb(214, 91, 20);
  }
  
  li {
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
  }


  footer {
    background-color: #ffffff;
    color: #000000;
    margin: 4px;
    padding: 2px;
   
  }

  footer p {
    font-size: 16px;
    text-align: center;
  }
  
  