<section>
    <div class="programs-container">
      <h1><i class="fas fa-graduation-cap"></i> Our Programs</h1>
      <br>
      <ul class="program-list">
        <li>
          <h3><i class="fa-solid fa-laptop-code"></i> Front-End Web Development</h3>
          <p>Learn to build interactive and user-friendly web applications using HTML, CSS, and JavaScript. Explore the principles of responsive design and user experience (UX).</p>
        </li>
        <li>
          <h3><i class="fa-solid fa-code"></i> Back-End Web Development</h3>
          <p>Master server-side development with technologies like Node.js, Python, or Ruby on Rails. Dive into database management, server deployment, and RESTful API development.</p>
        </li>
        <li>
          <h3><i class="fa-solid fa-layer-group"></i> Full-Stack Web Development</h3>
          <p>Combine front-end and back-end skills to become a versatile full-stack developer. Build complete web applications from start to finish, integrating various technologies and frameworks.</p>
        </li>
        <li>
          <h3><i class="fa-brands fa-codepen"></i> Mobile App Development</h3>
          <p>Create mobile apps for iOS and Android using languages like Swift, Kotlin, and React Native. Explore mobile UI/UX design, API integration, and performance optimization.</p>
        </li>
        <li>
          <h3><i class="fa-solid fa-database"></i> Database Management</h3>
          <p>Explore the world of databases, SQL, and NoSQL technologies to store and retrieve data. Understand data modeling, database design, and the role of databases in modern applications.</p>
        </li>
      </ul>
    </div>
  </section>
  <br><br><br>
  <footer>
    <p><i class="fa-regular fa-copyright"></i> 2023 StudentSync <i class="fa-solid fa-dragon"></i> . Made by Dipankar Adhikary with <i class="fa-brands fa-gratipay"></i></p>
  </footer>
  
