.programs-container {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  h2 {
    font-size: 25px;
    color: #0e1b8b;
    margin-bottom: 10px;
    text-align: center;
  }

  h1 {
    font-size: 35px;
    color: #b80c68;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .program-list {
    list-style: none;
    padding: 0;
  }
  
  .program-list li {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #830db1;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: content-box;
    transition: transform 0.3s ease; 
  }
  
  .program-list li:hover {
    background-color: rgb(30, 176, 205);
    transform: scale(1.15); 
    cursor: grabbing;
  
  }
  
  h3 {
    font-size: 24px;
    color: #0d67b1;
    margin: 0;
  }
  
  p {
    font-size: 18px;
    color: #000000;
  }
  
  footer {
    background-color: #ffffff;
    color: #000000;
    margin: 4px;
    padding: 2px;
   
  }

  footer p {
    font-size: 16px;
    text-align: center;
  }
  