<section>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="form-container" id="form">
                <h4>Login</h4>
                <form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
                    <div>
                        <label for="UserName">
                            <i class="fas fa-user"></i> User Name
                        </label>
                        <div class="input-container">
                            <input type="text" id="UserName" formControlName="UserName" required>
                            <span class="error"
                                  *ngIf="studentForm.get('UserName')?.hasError('required') && studentForm.get('UserName')?.touched">
                                User Name is required.
                            </span>
                        </div>
                    </div>
  
                    <div>
                        <label for="UserPassword">
                            <i class="fas fa-lock"></i> User Password
                        </label>
                        <div class="input-container">
                            <input type="password" id="UserPassword" formControlName="UserPassword" required>
                            <span class="error"
                                  *ngIf="studentForm.get('UserPassword')?.hasError('required') && studentForm.get('UserPassword')?.touched">
                                User Password is required.
                            </span>
                        </div>
                    </div>
                    <br>
  
                    <div style="text-align: center;">
                        <button type="submit">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </button>
                    </div>
                    <br>
                    <span style="text-align: center; color: red;" *ngIf="studentForm.invalid && studentForm.touched">
                      <h6>Kindly re-check userid & password before login.</h6>
                    </span>
                    <br>
  
                    <div>
                        <h5>Don't have an account?</h5>
                        <h4><a routerLink="/register"><i class="fas fa-user-plus"></i> Register</a></h4>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
  
    <div *ngIf="Result">
        <h4>{{Result}}</h4>
    </div>
  
  </section>
  <br><br><br><br><br><br><br>
<footer>
  <p><i class="fa-regular fa-copyright"></i> 2023 StudentSync <i class="fa-solid fa-dragon"></i> . Made by Dipankar Adhikary with <i class="fa-brands fa-gratipay"></i></p>
</footer>