.app-container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
  
  header {
    display: flex;
    background-color: #5f9fe0;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 2px;
    margin-bottom: 10px;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 100; 
  }


  a {
    text-decoration: none;
  }
  a:hover{
    color: #c6a53a;
  }

  h4{
    text-align: center;
  }

  
  nav a {
    text-decoration: none;
    color: #000000; 
    margin: 10px;
    font-size: 18px;
    transition: color 0.3s; 
    text-align: center;
  }
  
  nav a:hover {
    color: #ffffff; 
  }
  
  nav a.active {
    font-weight: bold;
    color: rgb(19, 144, 8);
  }

  button {
    background-color: #5f9fe0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    
  }
  button:hover {
    color: #d7c116; 
  }
  
  h4{
    text-align: center;
    color: azure;
    cursor: grab;
    
    padding-left: 10px;
    padding-top: 5px;
  }
  
  h4 a{
    color: aliceblue;
  }
  h4 a:hover{
    color: #d76a16;
    cursor: grab;
  }

  h2 i{
    color: #ef9220;
    cursor: grab;
  }
  @media only screen and (min-width: 600px) {

    header {
      padding: 5px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h4 {
      font-size: 16px; /* Adjust font size for larger screens */
    }
  
    nav a {
      font-size: 16px; 
    }
  }
  

  @media only screen and (max-width: 600px) {
    .app-container{
      padding-top: 350px;
    }

    header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    h2,
    h4 {
      margin-bottom: 10px;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav a {
      margin: 5px 0;
    }
  
    button {
      margin-top: 10px;
    }
  }