<br>
<header class="head">
    <h1>Welcome to My StudentSync, <span style="color: cornflowerblue;"> {{username}} </span>  <i class="fas fa-graduation-cap logo-icon"></i></h1>
    <br>
    <p><i>" Everyone should learn how to program a computer because it teaches you how to think. "</i> Steve Jobs</p>
</header>

  <section class="home-section">
    <div class="item about-us-item">
      <div class="content-container about-us-container">
        <h2><i class="fas fa-eye"></i> Preview StudentSync</h2>
        <br>
        <p>
          Welcome to our student portal. We are dedicated to providing students with the best resources and support for a successful academic journey.
        </p>
        <p> Our mission is to empower students with the tools they need to excel in their studies, explore their passions, and achieve their educational goals.</p>
      </div>
    </div>

    <div class="item programs-item">
      <div class="content-container program-container">
        <h2><i class="fas fa-laptop-code"></i> DevOps Skills</h2>
        <br>
        <p>
          Our programs are designed to provide students with the knowledge and skills they need to succeed in their academic and professional journeys. Whether you're looking to learn front-end development, back-end development, mobile app development, or other areas, we have a program for you. Explore our programs and start your learning journey today!
        </p>
      </div>
    </div>
   
  </section>

  <section>
    <div class="item programs-item">
      <div class="content-container program-container">
        <h2><i class="fa-solid fa-ticket"></i> Student Enrollment</h2>
        <br>
        <h4>To enroll in a Program</h4>
        <ol style="font-size: 18px;font-style: italic;color: rgb(15, 66, 205);text-decoration: solid;">
          <li>Open the Programs description page by clicking on the Program title.</li>
          <li>Click Form.</li>
          <li>Choose an option.</li>
          <li>Read all instructions and follow any prompts you receive.</li>
        </ol>
        <p>Once you are enrolled, you can start taking a course at any time. If you come back to a course after a break, you may need to reset your assessment deadlines.
        </p>
        <p>
          Our programs Will Uplift and grow your dvelopers skills. Here’s How.
        </p>
        <ul style="font-size: 18px;font-style: italic;color: rgb(205, 120, 15);text-decoration: solid;">
          <li>Immersive learning platform</li>
          <li>20+ projects and case studies</li>
          <li>Outcome driven pedagogy</li>
          <li>16+ hours of group career</li>
          <li>10X more employable</li>
        </ul>
      </div>
    </div>
  </section>


  <section class="template-section">
    <div class="item developers-item">
      <div class="content-container developers-container">
        <h2><i class="fas fa-code"></i> Developers Community</h2>
        <br>
        <p>
          Join our vibrant community of developers! Connect with like-minded individuals, share your projects, and collaborate on exciting initiatives. Whether you are a beginner or an experienced coder, our community provides a supportive environment for growth and learning.
        </p>
      </div>
    </div>
  
    <div class="item programs-item">
      <div class="content-container programs-container">
        <h2><i class="fa-solid fa-bars-progress"></i> Explore Our Programs</h2>
        <br>
        <p>
          Dive into our diverse range of programs designed to cater to different skill levels and interests. From foundational courses to advanced specializations, we have a program tailored just for you. Accelerate your learning and embark on a journey of continuous improvement.
        </p>
      </div>
    </div>
  
    <div class="item courses-item">
      <div class="content-container courses-container">
        <h2><i class="fas fa-book"></i> Featured Courses</h2>
        <br>
        <p>
          Browse through our curated selection of courses crafted by industry experts. Our courses cover a wide array of topics, including web development, data science, machine learning, and more. Each course is designed to provide you with practical skills and knowledge to excel in your chosen field.
        </p>
      </div>
    </div>
  
    <div class="item pricing-item">
      <div class="content-container pricing-container">
        <h2><i class="fas fa-dollar-sign"></i> Affordable Pricing</h2>
        <br>
        <p>
          We believe in making education accessible to all. Explore our affordable pricing plans that fit your budget. Whether you choose a single course or opt for a comprehensive program, you'll receive exceptional value for your investment in your education.
        </p>
      </div>
    </div>
  </section>
  <section class="home-section">
    <div class="item contact-item">
      <div class="content-container contact-container">
        <h2><i class="fas fa-comments"></i> Quick Engagement</h2>
        <br>
        <p>
          If you have any questions or need assistance, please don't hesitate to contact us. We are here to help you with any inquiries or concerns related to the Student Portal.
          We typically respond within 24 hours and are always ready to assist you on your educational journey.
          You can reach out to us through:
        </p>
        <div class="contact">
          <p><a routerLink="/contact"><i class="fas fa-envelope"></i> Contact Us</a></p>
        </div>
        <div class="contact-info">
          <p><i class="fas fa-phone-alt"></i> Call Us: 18880000018 </p>
          <p><i class="fas fa-at"></i> Email Us: studentsync@gmail.com </p>
          <p><i class="fas fa-map-marker-alt"></i> Student Road, Student Building S-Floor, Kol-91.</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <footer>
    <p><i class="fa-regular fa-copyright"></i> 2023 StudentSync <i class="fa-solid fa-dragon"></i> . Made by Dipankar Adhikary with <i class="fa-brands fa-gratipay"></i></p>
  </footer>
