section {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-bottom: 40px;
  }
  

  .head h1,.head p,.head span{
    text-align: center;
    text-decoration: solid;
    text-transform: capitalize;
    transition: transform 0.5s ease-out;
  }
  
  .head h1:hover{
    transform: scale(1.2);
    cursor: wait;
    color: #d75c14;
  }
  
  .item {
    flex: 1;
    max-width: 90%;
    transition: transform 0.4ms ease;  
  }
  
  .content-container {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .content-container:hover {
    background-color: rgb(108, 230, 230);
    transform: scale(0.9);
    cursor: grabbing;
    color: #000000;
  }
  
  h2 {
    color: rgb(10, 82, 110);
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  
  h2 i {
    margin-right: 10px;
  }
  
  p {
    text-align: left;
    font-size: 20px;
  }
  
  .contact a {
    color: #bc0f0f;
    text-decoration: none;
  }
  
  .contact p {
    text-align: center;
  }
  
  .contact-info p {
    color: #08297c;
    text-align: center;
  }
  .template-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  
  .developers-container,
  .programs-container,
  .courses-container,
  .pricing-container {
    background-color: #ffffff;
    color: #333;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .developers-container:hover,
  .programs-container:hover,
  .courses-container:hover,
  .pricing-container:hover {
    background-color: #ead342;
    transform: scale(0.95);
    cursor: grabbing;
  }
  
  .developers-container h2,
  .programs-container h2,
  .courses-container h2,
  .pricing-container h2 {
    color: #2c3e50;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  
  .developers-container h2 i,
  .programs-container h2 i,
  .courses-container h2 i,
  .pricing-container h2 i {
    margin-right: 10px;
  }
  
  .developers-container p,
  .programs-container p,
  .courses-container p,
  .pricing-container p {
    text-align: left;
    font-size: 18px;
  }
  
  .developers-container a,
  .pricing-container a {
    color: #3498db;
    text-decoration: none;
  }
  
  
  .developers-container p:last-child,
  .pricing-container p:last-child {
    margin-top: 10px;
  }


  footer {
    background-color: #ffffff;
    color: #000000;
    margin: 4px;
    padding: 2px;
   
  }

  footer p {
    font-size: 16px;
    text-align: center;
  }
  
  