body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #f0f0f0;
  }
  
  .form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    padding: 20px;
    margin: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h4{
    color: rgb(6, 6, 124);
    text-align: center;
  }
  h4 a{
    text-decoration: none;
  }
  h5{
    color: rgb(7, 78, 113);
    text-align: center;

  }
  
  
  
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 0px solid #380a8ef0;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  .error {
    color: #e22074;
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
    display: flex;
  }



div input:invalid {
  border-color: #ff0000; 
  box-shadow: 0 0 5px rgba(223, 19, 135, 0.804); 
}


  
  label{
    font-weight: bold;
    font-size: 18px;
    color: rgb(18, 114, 203);
  }
  
  button {
    background-color: #0d64c1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    
  }
  button:hover{
    background-color: #d59f08;
  }
  

  
  .submitted-forms {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
    margin: 5px 0;
  }

  footer {
    background-color: #ffffff;
    color: #000000;
    margin: 4px;
    padding: 2px;
   
  }

  footer p {
    font-size: 16px;
    text-align: center;
  }
  
  
  
  button[type="submit"][disabled] {
    cursor: not-allowed; 
  }
